@model List<Message>
@{
    ViewData["Title"] = "Mesajlar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Gelen Mesajlar Listesi</h5>
            <form class="ms-auto position-relative">
                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
                <input class="form-control ps-5" type="text" placeholder="Aramak için bir kelime giriniz...">
            </form>
        </div>
        <div class="table-responsive mt-3">
            <table class="table align-middle">
                <thead class="table-secondary">
                    <tr>
                        <th>#</th>
                        <th>Ad Soyad</th>
                        <th>Konu</th>
                        <th>Email</th>
                        <th>Mesaj Detayı</th>
                        <th>Mesaj Tarihi</th>
                        <th>Okundu mu?</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var message in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@message.NameSurname</td>
                            <td>@message.Subject</td>
                            <td>@message.Email</td>
                            <td>@(message.MessageDetail?.Length > 15 ? message.MessageDetail.Substring(0,15) + "..." : message.MessageDetail)</td>
                            <td>@message.SendDate.ToString("dd-MMM-yyyy")</td>
                            <td><a href="#" class="btn btn-warning">Durum</a></td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/Default/Index/" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mesajı Aç"><i class="bi bi-eye-fill"></i></a>
                                    <a href="/Message/UpdateMessage/@message.MessageId" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Güncelle"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="/Message/DeleteMessage/@message.MessageId" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sil"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Message/CreateMessage" class="btn btn-info">Yeni Mesaj Girişi</a>
        </div>
    </div>
</div>
